<%= form_tag(conversation_messages_path(@conversation.id), method: :post, remote: true) do %>
  <div class="message-right">
    <div class="col-5 d-flex flex-column justify-content-end pt-5">
      <%= text_area_tag :body, "", class: 'form-control', placeholder: "Écris ton message"%>
      <%= submit_tag "Répondre", class: "my-btn mt-3" %>
    </div>
  </div>
<% end %>