<div>
    <% messages.each do |message|  %>
        <% if message.user == current_user %>
        <div class="message-right">
            <p class="card_title"><%= message.user.full_name%></p>
            <p><%= message.body %></p>
        </div>
        <% else %>
        <div class="message-left">
            <p class="card_title"><%= message.user.full_name%></p>
            <p><%= message.body %></p>
        </div>
        <% end %>

    <% end %>
</div>
