<div>
    <% messages.each do |message|  %>
        <div class="message">
            <p class="card_title"><%= message.user.full_name%></p>
            <p><%= message.body %></p>
        </div>
    <% end %>
</div>
