<div class="container"
  <div class="row">
    <div class="col-md-5 m-auto">
      <h2 class="my-font-primary fs-4 text-center p-3"> Commenter</h2>
    
      <%= form_for([@space, @space.comments.new], remote: true) do |f| %>
      
        <div class="field form-group p-2">
          <%= f.text_area :content, class: "form-control p-3", placeholder: "Qu'avez vous pensé de cet espace ?" %>
        </div>

        <div class="text-center">
        <% if user_signed_in? %>
          <%= f.submit "Valider", class: "my-btn my-btn-sm mt-3" %>
        </div>

        <% else %>
          <%= link_to "Envoyer", new_user_session_path %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>