<div class="container p-5 m-5">
  <h1>Paiement annulé</h1>
  <hr>
  <p>Vous avez annulé le paiement, la transaction n'a pas pu aboutir.</p>
  <%= link_to "Retour", spaces_path, class: "my-link" %>
</div>