<div class="container text-center pt-5 mt-5">
  <h1>Paiement annulé</h1>
  <p>Nous sommes désolés, le paiement n'a pas pu aboutir.</p>
  <%= link_to "Back to Home", root_path, class: "btn btn-block btn-secondary" %>
</div>