<div class="container text-center pt-5 mt-5">
  <h1>Paiement confirmé</h1>
  <p>Nous avons reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
  
  <%= link_to "Retour", root_path, class: "btn btn-block btn-secondary" %>
</div>