<div class="container-fuild">
  <div class="px-4 mt-5 pt-5">
    <div class="col-md-8 col-sm-9 m-auto my-bg-light my-border-primary text-center p-5">
      <h1 class="pb-5">Mes messages</h1>
      <div class="col-6 m-auto">
        <% current_user.conversations.each do |conversation| %>
          <div class="d-flex justify-content-between align-items-baseline bg-white my-border-secondary p-3 mt-3"> 
            <% if current_user.id == conversation.contact2_id %>
              <p class="fs-5 pt-2"><%= conversation.contact1.full_name %></p>
            <% else %>
              <p class="fs-5"><%= conversation.contact2.full_name %></p>
            <% end %>              
            <%= link_to "Voir la conversation", conversation_path(conversation.id), class: "my-link" %>
          </div>
        <%end %>
      </div>
    </div>
  </div>
</div>    