<div class=”ui segment”>
 <h3>Mes messages</h3>
 <div class=”ui list”>
  <div class=”item”>
  
   <% @conversations.each do |conversation| %>
   <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
    <% if conversation.sender_id == current_user.id %>              
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>
    
    <tr>
      <td class="d-flex justify-content-between align-items-center">              
        <div class="d-flex">
          <p><%= recipient.email %></p>
          <%= link_to "Voir la conversation", conversation_messages_path(conversation), class: "my-link" %>
        </div>
      </td>
    </tr>
  <% end %>
  <%end %>
  </div>
 </div>
</div>


