<div class="container-fluid">
  <div class="px-4 mt-5 py-5">
    <div class="col-md-8 col-sm-9 m-auto my-bg-light my-border-secondary p-4">
      
      <div id="message">
        <%= render 'messages/message', messages: @messages %> 
      </div>

      <div id="addmessage">
        <%= render 'messages/form' %>
      </div>
      
    </div>
  </div>
</div>