<div class="row">
  <div class="col-md-9 m-auto shadow-sm my-bg-light py-3  mt-5">
    <div class="d-flex flex-column justify-content-around">
    
      <div id="message">
        <%= render 'messages/message', messages: @messages %> 
      </div>

      <div id="addmessage">
        <%= render 'messages/form' %>
      </div>
    
    </div>
  </div>
</div>

