<div class="row">
    <% @spaces.each do |space| %>
        <div class="col-md-6 col-lg-4 py-3">
        <div class="card h-100 my-card-hover">
            
        <div class="card-body">
        <h4 class="card-title mx-4"><%= space.title %></h4>
        <p class="card-title mx-4"><%= space.description %></p>
        <p class="card-text mx-4"><%= space.city %></p>

        <div class="btn-card my-3 mx-4 d-flex justify-content-between">
            <%= link_to 'Voir plus', space_path(space.id), class:'my-btn-blue-light  '%>
        </div>
        </div>
        </div>
        </div>
    <% end %>
</div>