<div>
  <h1 class="mb-3 text-center">Modifier votre espace</h1>
</div>
<div>
  <%= render 'form', space: @space %>
</div>
<div class="py-3">
  <%= link_to 'Retour', space_path(@space.id), class:"my-link mx-5" %>
</div>