<div>
  <h1 class="mb-3 text-center">Modifier votre espace</h1>
</div>
<div>
  <%= render 'form', space: @space %>
  <div class="row d-flex justify-content-center px-5">
    <div class="py-2 my-font-primary col-lg-6">
      <% if @space.host_id == current_user.id %>
        <%= button_to 'Supprimer mon espace', space_path(@space.id), method: :delete, class: "my-btn col-md-12", data:{confirm:"Etes vous sûr de vouloir supprimer cet espace ?"}  %>
      <% end %>
    </div>
  </div>
</div>
<div class="py-3">
  <%= link_to 'Retour', space_path(@space.id), class:"my-link mx-5" %>
</div>