<div>
  <h1 class="mb-3 text-center">Ajouter votre espace</h1>
</div>
<div>
  <%= render 'form', space: @space, host_id: current_user.id %> 
</div>
<div class="py-3">
  <%= link_to 'Retour', spaces_path, class:"my-link  mx-5"%>
</div>