<div class="mx-auto d-flex justify-content-center">
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="my-2"><%= label_tag 'Quand veux-tu réserver cet espace ?' %></div>
    <div class="my-2"><%= datetime_local_field_tag 'start_date', @booking.start_date %></div>
    <div><%= submit_tag "Je réserve", class:"my-btn m-2"%></div>
  <% end %>
</div>