<div class="container-team">


<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title title-left text-center text-lg-left">
                    <h3 class="top-sep">Notre équipe</h3>
                    <p class="paragraph-team">Avec STUDIO, nous voulons créer le premier réseau artistique de France en connectant les  artistes entre eux, pour former une communauté réunie autour d’une même passion : l’Art.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center ">
                            <span class="img-holder d-inline-block ">
                                <img src="https://pixabay.com/get/g4bd87e6deb233c0f26c682546e2c87d5459fb7e5902568b93f5310193fa7fbf58e90ef4195049545120c3d903a57e93c_640.jpg" alt="Team">
                            </span>
                    </div>
                            
                              
                    <div class="team-content">
                        <h5 class="mb-2">Perrine <br>Toubeau</h5>
                        <p class="text-uppercase mb-0">Senior Developer</p> 
                    </div>
                </div>
            </div>
                           
                        
            <div class="col-md-6 col-lg-3 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                                <img src="https://pixabay.com/get/g4bd87e6deb233c0f26c682546e2c87d5459fb7e5902568b93f5310193fa7fbf58e90ef4195049545120c3d903a57e93c_640.jpg" alt="Team">
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Morgane <br>Tessier</h5>
                        <p class="text-uppercase mb-0">UI/UX Designer</p>
                    </div>
                </div>
            </div>
                            
            <div class="col-md-6 col-lg-3 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                            <img src="https://pixabay.com/get/g4bd87e6deb233c0f26c682546e2c87d5459fb7e5902568b93f5310193fa7fbf58e90ef4195049545120c3d903a57e93c_640.jpg" alt="Team">                           
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Carole <br> Meney</h5>
                        <p class="text-uppercase mb-0">CEO</p>
                    </div>
                </div>
            </div>

              <div class="col-md-6 col-lg-3 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                                <img src="https://pixabay.com/get/g4bd87e6deb233c0f26c682546e2c87d5459fb7e5902568b93f5310193fa7fbf58e90ef4195049545120c3d903a57e93c_640.jpg" alt="Team">
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Erwann <br>Le Noac'h</h5>
                        <p class="text-uppercase mb-0">UI/UX Designer</p>
                    </div>
                </div>
            </div>

              <div class="col-md-6 col-lg-3 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                                <img src="https://pixabay.com/get/g4bd87e6deb233c0f26c682546e2c87d5459fb7e5902568b93f5310193fa7fbf58e90ef4195049545120c3d903a57e93c_640.jpg" alt="Team">
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Florence <br> Perez</h5>
                        <p class="text-uppercase mb-0">UI/UX Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
