<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vous avez reçu un email <%= @contact.email %> et bienvenue chez nous !</h1>
    <p>
        <%= @contact.body %> 
    </p>

  </body>
</html>