.my-anim-scale {
  transition: all .2s ease-in-out;
}
.my-anim-scale:hover {
  transform: scale(1.5);
}

.appear {
  animation: 1s ease-out 0s 1 appearAnim;
}
@keyframes appearAnim{
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  25%{
    opacity: 0.25;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.appear-bottom {
  animation: 1s ease-out 0s 1 appearAnim-bottom;
}
@keyframes appearAnim-bottom {
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  25%{
    opacity: 0.50;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.overflowY {
  overflow-y: hidden;
}

.text-divider {
  margin: 2em 0;
  line-height: 0;
  text-align: center;
}
.text-divider span {
  background-color: #fff;
  padding: 0.3em;
}
.text-divider:before {
  content: " ";
  display: block;
  border-top: 1px solid #ff2d00;
  border-bottom: 1px solid #ff2d00;
}