@import 'variable';


.my-btn {
  padding: .7em;
  border: 1px solid $my-primary;
  text-decoration: none;
  background-color: white;
  color: $my-primary;
  font-size: 1em;
  letter-spacing: 1px;
  &:hover {
    background-color: $my-primary;
    color: white;
  }
  &-sm {
    font-size: .8em;
  }
  &-lg {
    font-weight: 600;
    font-size: 1.15em;
    padding: 1em;
  }
}


.my-btn-secondary {
  padding: .7em;
  border: 1px solid white;
  text-decoration: none;
  background-color: $my-primary;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  &:hover {
    background-color: white;
    border: 1px solid $my-primary;
    color: $my-primary;
  }
  &-sm {
    font-size: .8em;
  }
  &-lg {
    font-size: 1.15em;
    padding: 1em;
  }
}

.my-link {
  text-decoration: none;
  color: $my-primary;
  font-size: 1em;
  &:hover {
    color: $my-primary;
    border-bottom: 2px solid $my-primary;
  }
  &-sm {
    font-size: .8em;
  }
  &-lg {
    font-size: 1.3em;
    font-weight: 600;
  }
}

.my-badge {
  padding: .5em;
  border: 1px solid white;
  text-decoration: none;
  background-color: $my-secondary;
  color: white;
  font-size: 1em;
  letter-spacing: 1px;
  &-sm {
    font-size: 0.8em;
  }
  &-lg {
    font-weight: 400;
    font-size: 1.15em;
  }
}

.form-control:focus {
  border: 2px solid $my-primary;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px ;
  box-shadow: inset 0 0px 0px ;
}

.form-select:focus {
  border: 2px solid $my-primary;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px ;
  box-shadow: inset 0 0px 0px ;
}