@import 'variable';


.my-bg-primary {
	background-color: #FF2D00;
}
.my-text-primary {
  color: #FF2D00;	
}

.my-bg-secondary {
	background-color: #FF6D4D;
}
.my-text-secondary {
  color: #FF6D4D;	
}

.my-bg-light {
	background-color: #F2EFE9;
}
.my-text-light {
  color: #F2EFE9;	
}


.my-alert-warning {
  background-color: rgba(255, 235, 25, .4);
  color: black;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
}

.my-alert-danger {
  background-color: rgba(255, 45, 0, .4);
  color: black;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
}

.my-alert-success {
  background-color: rgba(18, 179, 30, .3);
  color: black;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
}

.my-alert-info {
  background-color: rgba(25, 211, 255, .3);
  color: black;
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
}


.my-svg-color {
  filter: invert(22%) sepia(64%) saturate(4530%) hue-rotate(2deg) brightness(104%) contrast(103%);
}

.my-border-primary {
  border: 3px solid $my-primary;
  background-color: $my-light;
}

.my-border-top-primary {
  border-top: 4px solid $my-primary;
}

.my-border-bottom-primary {
  border-bottom: 4px solid $my-primary;
}

.my-border-secondary {
  border: 1px solid $my-secondary;
}

.my-border-top-secondary {
  border-top: 3px solid $my-secondary;
}

.my-border-bottom-secondary {
  border-bottom: 3px solid $my-secondary;
}

.navbar-color{
  background-color: white;
}

