.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:linear-gradient( rgba(255,45,0,0.3) 0%,rgba(255,45,0,0.3) 100%), url("/assets/background.jpg");
}
