@import 'variable';


html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: auto;
  font-family: 'Mukta', sans-serif;
  color: black;
  scroll-behavior: smooth;
}

header {
  position: sticky;
	top: 0px;
  z-index:1000 !important;
}

.my-logo {
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 700;
  color: $my-primary;
  &:hover, &:active {
    color: $my-primary;
  }
}

.my-logo-white {
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
  font-size: 4em;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  &:hover, &:active {
    color: white;
  }
}

nav li a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  color: black;
  &:hover, &:active {
    color: $my-primary;
  }
}

.my-dropdown-item {
  margin: 1em;
  font-size: 1em;
  font-weight: 400;
  &:hover, &:active {
    font-weight: 700;
    color: black;
  }
}

.footer {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.pb-200 {
  padding-bottom: 200px;
}

#map { 
  height: 80vh;
}

.my-list-group {
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  & ul {
    list-style:none;
    padding:0;
    margin:0;
  }
  & li:hover {
    background-color: $my-light;
  }
}

::placeholder{
  font-style: italic;
}

.alert{
  border-radius: 0 !important;
  margin: 0 !important;
}