@import 'variable';

.message-left {
    display: flex; 
    justify-content: flex-start;
    flex-direction: column;
    color: $my-light;
    background-color: $my-primary;
    border-radius: 4px 16px 16px 4px;
	box-shadow: 0 1px 4px ;
    padding-left: 10px ;
    padding-right: 10px;
    margin-top: 5px;
}

.message-right {
    display: flex; 
    align-items: flex-end; 
    flex-direction: column;
    color: $my-light;
    background-color: $my-secondary;
    border-radius: 16px 4px 4px 16px;
	box-shadow: 0 1px 4px ;
    padding-left: 10px;
    padding-right: 10px ;
    margin-top: 5px;
}

