@import 'variable';

.message-left {
  display: flex; 
  justify-content: flex-start;
  flex-direction: column;
}
.my-border-raduis-left {
  border-radius: 4px 16px 16px 4px;
}

.message-right {
  display: flex; 
  align-items: flex-end; 
  flex-direction: column;
}
.my-border-raduis-right {
  border-radius: 16px 4px 4px 16px;
}