<footer class="footer my-bg-light">
  <div class="d-flex align-items-baseline row">
    <%= link_to "STUDIO", root_path, class:"my-logo col-sm-4" %>
    <div class="col-sm-6">
      <p class="text-muted">Perrine Toubeau, Morgane Tessier, Carole Meney, Erwann Le Noac'h, Florence Perez.</p>
      <p class="text-muted">© 2021 Studio</p>
    </div>
  </div>
</footer>
