<footer class="footer mt-5">
  <div class="d-flex align-items-baseline">
    <%= link_to "STUDIO", root_path, class:"my-logo col-sm-2" %>
    <div class="col-sm-8">
      <p class="text-muted">Perrine Toubeau, Morgane Tessier, Carole Meney, Erwann Le Noac'h, Florence Perez.</p>
      <p class="text-muted">© 2021 Studio</p>
    </div>
  </div>
</footer>
